{% extends 'base.html' %}
{% block rightcontent %}
    <div class="ip_main_right">
		<div class="ip_page_title2" style="margin-bottom: 1%;">
			<div class="ip_page_title_text">PAYMENT STATUS</div>
		</div>
		<div class="ip_page_maincont">
			<div class="workers_table">
				<table style="width: 100%; font-size: 0.7em; margin: auto;">
					<tbody><tr style="background: #555; color: #fff;">
						<th class="table_head">Title</th>
						<th class="table_head">Salary Month</th>
						<th class="table_head">Payment Date</th>
						<th class="table_head">No. of workers</th>
						<th class="table_head">Transferred from bank</th>
						<th class="table_head">Received at Worker's Bank</th>
						<th class="table_head">Deposited in Account</th>
						<th class="table_head">Payment Failed</th>
						<th class="table_head">% Success</th>
						<th class="table_head">Action</th>
					</tr>
                    {% for payment in payments %}
                        <tr class="table_row">
                            <td class="table_cell" style="text-align: left;">{{ payment.title }}</td>
                            <td class="table_cell">{{ payment.salary_month }}</td>
                            <td class="table_cell">{{ payment.payment_date }}</td>
                            <td class="table_cell">{{ payment.no_of_workers }}</td>
                            <td class="table_cell">12</td>
                            <td class="table_cell">60</td>
                            <td class="table_cell">3400</td>
                            <td class="table_cell">40</td>
                            <td class="table_cell">96.8%</td>
                            <td class="table_cell"><a href="{% url 'workers:transfers' %}?payment_id={{payment.id}}">View Details</a></td>
                        </tr>
                    {% endfor %}
				</tbody></table>
			</div>
		</div>
	</div>
{% endblock rightcontent %}